[submodule "KissXML"]
	path = KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "MiniKeePassLib"]
	path = MiniKeePassLib
	url = https://mstarke@github.com/mstarke/MiniKeePassLib.git
[submodule "HNHUi"]
	path = HNHUi
	url = https://mstarke@github.com/mstarke/HNHUi.git
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = git://github.com/robbiehanson/CocoaHTTPServer.git
