[submodule "KissXML"]
	path = KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "HNHUi"]
	path = HNHUi
	url = https://mstarke@github.com/mstarke/HNHUi.git
[submodule "CocoaHTTPServer"]
	path = CocoaHTTPServer
	url = git://github.com/robbiehanson/CocoaHTTPServer.git
[submodule "KeePassKit"]
	path = KeePassKit
	url = https://mstarke@github.com/mstarke/KeePassKit
[submodule "DDHotKey"]
	path = DDHotKey
	url = https://github.com/mstarke/DDHotKey.git
[submodule "Sparkle"]
	path = Sparkle
	url = https://github.com/mstarke/Sparkle.git
[submodule "TransformerKit"]
	path = TransformerKit
	url = https://github.com/mattt/TransformerKit.git
