[submodule "KissXML"]
	path = KissXML
	url = https://github.com/robbiehanson/KissXML.git
[submodule "MiniKeePassLib"]
	path = MiniKeePassLib
	url = https://mstarke@github.com/mstarke/MiniKeePassLib.git
[submodule "DMSplitView"]
	path = DMSplitView
	url = https://mstarke@github.com/mstarke/DMSplitView.git
