github "sparkle-project/Sparkle" ~> 1.22
github "mattt/TransformerKit" ~> 1.1.1
git "file:///Users/michael/Projekte/GitHub/KeePassKit" "master"
#github "MacPass/KeePassKit" "40b16978fcc9d1ec61425848772b949920fa653c" 
github "mstarke/HNHUi" ~> 3.0
