binary "https://sparkle-project.org/Carthage/Sparkle.json"
github "MacPass/TransformerKit" "a8b5bb73cc327ec6798569b865c32fec5eb2289f"
github "MacPass/KeePassKit" ~> 3.2.0
github "mstarke/HNHUi" ~> 6.0
