<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kdbx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FileTypeIcon</string>
			<key>CFBundleTypeName</key>
			<string>KDBX Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hicknhack.macpass.kdbx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>MPDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>kdb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>FileTypeIcon</string>
			<key>CFBundleTypeName</key>
			<string>KDB Database</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.hicknhack.macpass.kdb</string>
			</array>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>MPDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>UNDEFINED</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>MPHelpURL</key>
	<string>https://github.com/MacPass/MacPass</string>
	<key>MPPluginRepositoryURL</key>
	<string>https://macpassapp.org/data/plugins.json</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>MacPass might use AppleEvents to perform Autotype functionality</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>MacPass accesses the Desktop to load and save your databases and/or key files there</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>MacPass accesses the Documents folder to load and save your databases and/or key files there</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>MacPass accesses the Downloads folder to load and save your databases and/or key files there</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>MacPass need access to Network Volumes to load and save your databases and/or key files there</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>MacPass need access to Removable Volumes to load and save your databases and/or key files there</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012-2020 HicknHack Software GmbH. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/MacPass/MacPassUpdates/master/appcast_macpass.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KDBX Database</string>
			<key>UTTypeIconFile</key>
			<string>FileTypeIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.hicknhack.macpass.kdbx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdbx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>KDB Database</string>
			<key>UTTypeIconFile</key>
			<string>FileTypeIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.hicknhack.macpass.kdb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kdb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MacPass Plugin</string>
			<key>UTTypeIdentifier</key>
			<string>com.hicknhack.macpass.plugin</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mpplugin</string>
					<string>mpPlugin</string>
					<string>mpPlugIn</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>XML</string>
			<key>UTTypeIdentifier</key>
			<string>public.xml</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
